@charset "UTF-8";
/* CSS Document */

* {
	-webkit-transform: translateZ(0);
	/*-webkit-perspective: 1000;*/
	/*-webkit-backface-visibility: hidden;*/
}

html {
	height:100%;
	width:100%;
	background-color:rgb(245,245,245);
	background-position:center 0px;
	background-size:100%;

}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	margin:0px;
	background-attachment: scroll;
	background-repeat: repeat-y;
	width:100%;
	height:100%;
}

#silhouette {
	width: 365px;
	height: 330px;
	background-image: url('assets/images/silhouette.png');
	background-size: cover;

	position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -165px;
    margin-left: -182px;
}

#sCanvas {
	position: absolute;
	left: 111px;
	top: 104px;
	width: 140px;
	height: 200px;
}

#silhouette span {
	position: absolute;
	width: 44px;
	height: 44px;
	border-radius: 100%;
	background-color: transparent;
	cursor: pointer;
	opacity: 1;
}

span[data-is-hit=true] {
	background-color: #76D470;
}

span[data-is-disabled=true] {
	background-color: #d85452 !important;
}

span#one {
    top: 257px;
    left: 208px;
}

span#two {
	top: 257px;
    left: 114px;
}

span#three {
    top: 206px;
    left: 161px;
}

span#four {
	top: 156px;
	left: 208px;    
}

span#five {
    top: 156px;
    left: 114px;
}

span#six {
	top: 103px;
	left: 161px;
}
